// Specific CSS for your home-page
.main-container {
  margin: 20px;
}

.main-content {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  overflow: auto;
  height: 70vh;
  padding: 10px;
}

.main-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 8px;
}

.search-form-control .form-control {
  height: 45px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.button-add-customer {
  display: flex;
  align-items: center;
  justify-content: end;
}

.title {
  h1 {
    margin: 0;
  }
}

.search-customer {
  width: 100%;
  display: flex;
  align-items: center;
  form {
    width: 100%;
    max-width: 500px;
  }
  .form-group {
    margin: 0;
  }
}

.link-customer {
  color: initial;
}

.link-customer:hover {
  text-decoration: none;
}

.actions-show {
  display: flex;
  gap: 10px;
  justify-content: end;
  .fa-pencil-alt {
    color: grey;
  }
  .fa-trash-alt {
    color: red;
  }
}

.simple_form_customers {
  background: #FFFFFF;
  border: 3px solid rgba(183, 207, 204, 0.9);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.66);
}

.message-not-connected {
  background: #FFFFFF;
  border: 3px solid rgba(183, 207, 204, 0.9);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.66);
  display: flex;
  text-align: center;
}

