.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #68687c;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #b7bace;
  color: white;
}

.btn-circle {
  color: white;
  border-radius: 50%;
  background: #68687c;
  transition: background 0.3s ease;
}

.btn-circle:hover {
  background: #b7bace;
  color: white;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-outline-secondary:hover {
  background: #c9cbcd;
}
